@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


*{
    margin: 0;
    font-size: 75px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    outline: 0;
}
body{
    overflow-x: hidden;
}

#logo{
    width: 570px;
    height: 290px;
}
.cabecalho{
    height: 300px;
    width: 100%;
    display: flex;
    background-color: rgb(6, 66, 221);
}

#menu {
    margin: 20px 10px;
    display: flex;
    width: 100%;
    display: flex;
    align-items: center;
}

#menu ul{
    display: flex;
    margin-top: 16px;
    list-style: none;

}

#menu li a {
    margin: 33px;
    color: #fff;
    text-decoration: none;
}


.home{
    display: grid;
    position: relative;
    width: 100%;
    min-height: 90.1vh;
    background-image: url(../assets/img/Background-novo.jpg) ;
    background-size: cover;
}

.text{
    margin: auto;
    width: 65%;
}
.text p{
        font-size: 125px;
        text-align: justify;
        padding: 40px 90px;
        color: #fff;
        background-color: rgba(0, 0, 0, 0.568);
        border-radius: 10px;
}


#servicos{
    display: flex;
    justify-content:end ;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 100%;
    min-height: 90.1vh;
    background-image: url(../assets/img/Background-servicos.jpg);
    background-size: cover;
}

.itens-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.servicos p{
    padding: 15px;
    color: #fff;
    border-radius: 15px;
}

.itens{
    display: flex;
    height: 250px;
}

#hosp-site{
    position: absolute;
    top: 43%;
    left: 6%;
    background-color: rgba(0, 0, 0, 0.568);
    padding: 10px;
    border-radius: 20px;
}

#gen-email{
    position: absolute;
    text-align: center;
    top: 14%;
    left: 20.5%;
    background-color: rgba(0, 0, 0, 0.568);
    border-radius: 20px;
    
}

#suporte-tec{
    display: flex;
    align-items: center;
    position: absolute;
    top: 75%;
    left: 36%;
    background-color: rgba(0, 0, 0, 0.568);
    padding: 10px 40px;
    border-radius: 20px;
}

#monitor-link{
    display: flex;
    align-items: center;
    position: absolute;
    top: 12%;
    left: 66%;
    background-color: rgba(0, 0, 0, 0.568);
    padding: 24px 30px;
    border-radius: 20px;
}

#helpdesk-bkp{
    display: flex;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 42.6%;
    left: 84%;
    background-color: rgba(0, 0, 0, 0.568);
    padding: 15px 10px;
    border-radius: 20px;
}

.circulo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 800px;
    height: 800px;
    background-color: rgba(84, 158, 171, 0.979);
    border-radius: 50%;
}

#circulo-site{
    position: absolute;
    top: 55%;
    left: 5.5%;
}

#circulo-email{
    position: absolute;
    top: 26%;
    left: 21%;
}

#circulo-internet{
    position: absolute;
    top: 26%;
    left: 66.8%;
}

#circulo-headset{
    position: absolute;
    top: 55%;
    left: 81%;
}

.circulo img{
    filter: blur(5px) invert(100%) brightness(2);
}

#Site{

    width: 600px;
}

#servicos-helpdesk{
    position: absolute;
    min-height: 90.1vh;
    width: 100%;
    background-image: url(./img/Background-helpdesk.jpg);
    background-size: cover;
    background-position: 0;
}

#circulo-logo{
    position: absolute;
    width: 1048px;
    height: 1041px;
    top: 38%;
    left: 53.8%;
    background-color: rgba(2, 14, 22, 0.93);
    border-radius: 50%;
}

#logo-circulo{
    position: absolute;
    width: 921px;
    top: 45%;
    left: 55%;

}

.circulo-motivos{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 9%;
    height: 17.6%;
    background-color: rgba(1, 13, 21, 0.982);
    border-radius: 50%;
}

.circulo-motivos img{
    filter: blur(4px) invert(100%) brightness(2);
    width: 80%;
}

#circulo-cifrao{
    position: absolute;
    top: 51.2%;
    left: 32%;
    width: 499px;
    height: 489px;
    background-color: rgba(0, 16, 21, 0.991);
}
#circulo-relatorio{
    position: absolute;
    top: 20.6%;
    left: 35.4%;
}

#circulo-agil{
    position: absolute;
    top: 2%;
    left: 47.7%;
    width: 495px;
    height: 495px;
}

#circulo-solucao{
    position: absolute;
    top: 20.8%;
    left: 76.8%;
    width: 494px;
    height: 478px;
    background-color: rgb(2 14 28);
}

#circulo-seguranca{
    position: absolute;
    top: 51.3%;
    left: 81%;
    width: 476px;
    height: 486px;
    background-color: rgb(31, 45, 55, 0.99);
}


.Motivos{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.568);
    border-radius: 25px;
    height: 130px;
}

.Motivos p{
    display: flex;
    text-align: center;
    align-items: center;
    padding: 15px;
    color: #fff;
    border-radius: 15px;
}
#Suporte{
    top: 78%;
    left: 21%;
}

#Custos{
    top: 49%;
    left: 21%;
}

#Relatorios{
    top: 19%;
    left: 19%;
}

#Flexibilidade{
    left: 30%;
}

#Experiencia{
    left: 73%;
}

#Eficienicia{
    top: 18%;
    left: 85%;
}

#Segurança{
    top: 47%;
    left: 89.5%;
    width: 443px;
    height: 225px;
}

#Respostas{
    top: 79%;
    left: 86.5%;
}

.sobre{
    position: absolute;
    min-height: 90.07vh;
    width: 100%;
    background-image: url(./img/Background-sobre2.png);
    background-size: cover;

}

.texto-sobre{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 700px;
}

.texto-sobre h1{
    font-size: 163px;
    color: #fff;
    margin-bottom: 155px;
    border-radius: 50px;
}

.texto-sobre p{
        background-color: rgba(0, 0, 0, 0.25);
        border-radius: 72px;
}